<!DOCTYPE html>
<html lang="en">
	<head>
	  
		<meta charset="utf-8">
		<title><%= defined?(@title) ? @title : "TWIG :: An api-powered microblog" %></title>
	
		<!--[if IE]>
  			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->
		<link rel="stylesheet" href="<%= Post::BASE_URL %>/style.css" media="screen" />
	</head>
	<body>
    <%= yield %>
  </body>
  </html>
