body {
	background: transparent url(newblog_bg.jpg) repeat left;
	text-align: center;
	margin: 0;
	padding: 0;
}

article {
	width: 60%;
	text-align: left;
	margin: 0px auto;
	display: block;
	color: #000;
	font: 1.1em/1.6em "Lucida Grande", Lucida, Verdana, sans-serif;
}

article a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #000;
}

article h6 {
	text-align: center;
}

article h1 {
	text-align: center;
	font: bold 2.5em/1.2em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

article h1 a {
	color: #000;
	color: rgba(265, 265, 265, 0.8);
}

footer {
	display: block;
	height: 3em;
	margin: 50px 0 0 0;
	padding: 10px;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-weight: bold;
	clear: both;
}

footer a {
	color: #c0c0c0;
}

nav {
	padding-top: 10px;
	display: block;
}

nav ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}

nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	text-align: center;
}

.addendum {
	padding: 0px 10px;
	margin:20px;
	border: 1px solid grey;
}

#footnote {
	font-style: italic;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}

#disqus_thread {
	margin: 40px 0px;
}